// component-setting //

// component-nav-top //
.nav-logo
  width: 60px
  img
    width: 60px
.nav-menu
  cursor: pointer
  width: 50px
  height: 50px
  overflow: hidden
  display: flex
  justify-content: center
  align-items: center
  border-radius: 100px
  transition: all .3s ease-out
  position: absolute
  margin: auto
  left: 0
  right: 0
  &:hover
    width: 50px
    height: 70px
    .menu-btn_touch
      width: 50px
      height: 50px
    .menu-btnLine_left, .menu-btnLine_right
      background-color: $gold
.nav-menu_btn
  width: 50px
  height: 50px
  z-index: 2
  display: flex
  justify-content: center
.menu-btnLine_left, .menu-btnLine_right
  width: 26px
  height: 3px
  background-color: $gray_2
  transition: all .3s ease
.menu-btnLine_left
  // all=70; 70/2=35; margin=12; 35-3(height)=32; 32-margin/2=26px; 32+margin/2=38px;
  top: 16px
  position: absolute
  transition: all .3s ease
  transform: rotate(0deg)
.menu-btnLine_right
  top: 30px
  position: absolute
  transition: all .3s ease
  transform: rotate(0deg)
.menu-btn_touch
  width: 0px
  height: 0px
  background-color: $gray_4
  transition: all .3s ease
  position: absolute
  border-radius: 100px
  z-index: 1
.nav-menu_btn-add
  .menu-btnLine_left
    // all=70; 70/2=35; margin=12; 35-3(height)=32; 32-margin/2=26px; 32+margin/2=38px;
    top: 25px
    transform: rotate(45deg)
  .menu-btnLine_right
    top: 25px
    transform: rotate(-45deg)

.nav-menu-close
  width: 50px
  height: 50px
  position: absolute
  cursor: pointer
  z-index: 3
  display: none

.nav-social_link
  display: flex
  justify-content: center
  align-items: center
  img
    width: 30px
    transition: all .3s ease
    cursor: pointer
    transform: scale(1.0, 1.0)
    &:hover
      transform: scale(1.1, 1.1)
.nav-fb, .nav-ig
  margin-left: 20px

// component-pagination //
.nav-page_gotop
  width: 28px
  margin-bottom: 44px
.gotop-btn
  width: 28px
  height: 28px
  border-radius: 19px
  background-color: $gray_1
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  cursor: pointer
  transition: all .3s ease
  &:hover
    background-color: $gold
  img
    width: 14px
    z-index: 2
.gotop-font
  transform: rotate(90deg)
  margin-top: 20px
.gotop-default
// gotop-default: none //
.nav-pagination_wrap
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.pagination-prev, .pagination-current, .pagination-next
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.pagination-next, .pagination-prev
  width: 28px
  height: 28px
  cursor: pointer
  border-radius: 19px
  &:hover
    .pagination-num_touch
      width: 28px
      height: 28px
    p, span
      color: $gold
.pagination-num_btn
  width: 28px
  height: 28px
  border-radius: 19px
  background-color: $gray_1
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  transition: all .3s ease
  &:hover
    background-color: $gold
.pagination-num
  transform: rotate(90deg)
  z-index: 2
  transform: scale(1.0, 1.0)
  animation: num_progress .8s ease-in-out
.pagination-txt
  transform: rotate(90deg)
  margin-top: 40px
.pagination-txt_ani
  transform: scale(1.0, 1.0)
  animation: num_progress .8s ease-in-out
@-webkit-keyframes num_progress
  0%
    transform: scale(1.0, 1.0)
  20%
    transform: scale(0, 0)
  80%
    transform: scale(0, 0)
  100%
    transform: scale(1.0, 1.0)
.pagination-num_touch
  width: 0px
  height: 0px
  border-radius: 19px
  background-color: $gray_4
  transition: all .3s ease
  z-index: 1
  position: absolute
.pagination-num_border
  width: 1px
  height: 16px
  margin: 44px 0
  background-color: $gray_1
.nextPage-btn
  width: 50px
  height: 50px
  border-radius: 25px
  background-color: #fff
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  transition: all .3s ease
  &:hover
    background-color: $gray_4
  img
    width: 24px

// component-intro //
.intro-content
  width: 100%
  position: absolute
  z-index: 2
  bottom: 0px
  margin-bottom: 150px
.intro-content-wrap
  margin: 0 auto
  max-width: 1200px
  padding: 0 40px
.intro-txt
  max-width: 50%
.intro-border
  width: 65vw
  height: 1px
  background-color: $gold
  left: -20vw
  margin: 25px 0px 40px 0px
.intro-btn
  margin-top: 30px
  width: 100px
  height: 30px
  border: 1px solid #fff
  cursor: pointer
  z-index: 2
  overflow: hidden
  &:hover
    .intro-btn_touch
      opacity: .2
.intro-btn_touch
  z-index: 1
  width: 100px
  height: 50px
  background-color: #fff
  position: absolute
  opacity: .0
  transition: all .3s ease
  top: -20px
.intro-btn_txt
  display: flex
  justify-content: center
  align-content: center
  padding: 7px
.intro-bg
  z-index: -1
.intro-slick
  z-index: 1
.swiper-container
  z-index: -1
  width: 100%
.intro-slick_img
  img
    width: 100%
    height: calc( 100vh - 140px)
    object-fit: cover
.intro-slick_mask
  width: 100%
  height: calc( 100vh - 140px)
  overflow: hidden
  position: absolute
  z-index: 2
  background-color: #000
  opacity: .6

// product //
.product-bg
  width: 100%
  position: absolute
  z-index: 1
.product-bg_mask
  width: 100%
  height: calc(100vh - 140px)
  position: absolute
  z-index: 2
  background-color: #000000
  opacity: .6 
.product-bg_img
  img
    width: 100%
    height: calc( 100vh - 140px)
    object-fit: cover
    z-index: 1
.product-title
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  z-index: 2
  padding-top: 5%
  span
    font-size: 80px
    color: #fff
    font-weight: bold
    letter-spacing: 10px
    left: 30px
    transition: all .3s ease
.product-content_wrap
  width: 100%
  z-index: 2
  margin-top: 5%
.product-content_mixvideo
  max-width: 1200px
  padding: 20px 40px
  margin: 0 auto
  background-color: #fff
  display: flex
  justify-content: space-between
  align-items: center
  z-index: -1
.product-content-box
  max-width: 650px
  display: flex
  justify-content: flex-start
  align-items: center
  z-index: -1
.product-img
  margin: 0px 40px 0px 0px
  margin-top: -150px
  max-width: 125px
  img
    width: 100%
.product-content

.product-ch_wrap
  display: flex
  justify-content: flex-start
  align-items: center
.product-icon
  width: 50px
  img
    width: 50px
.product-ch_title
  margin-left: 12px
  h2
    font-size: 30px
    color: $gray_3
.product-txt
  max-width: 400px
.product-btn
  display: flex
  justify-content: center
  align-items: center
  max-width: 150px
  border: 2px solid $gold
  padding: 4px 0px
  margin-top: 20px
  cursor: pointer
  &:hover
    img
      left: 8px
.product-btn_img
  img
    width: 8px
    margin-left: 16px
    left: 0px
    transition: all .3s ease
.product-btn_txt
  p
    color: $gray_3
    line-height: 8px
    font-weight: bold
.product-video
  max-width: 45%
  position: absolute
  right: 0px
  cursor: pointer
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, .2)
  &:hover
    .video-btn
      transform: scale(1.1, 1.1)
  video
    width: 100%
    z-index: -1
.video-mask
  width: 100%
  height: 100%
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  z-index: 0
.video-mask_bg
  width: 100%
  height: 100%
  background-color: #222
  position: absolute
  opacity: .8
.video-btn
  width: 80px
  height: 80px
  border-radius: 40px
  border: 1px solid #fff
  display: flex
  justify-content: center
  align-items: center
  transition: all .3s ease
  transform: scale(1.0, 1.0)
  img
    width: 24px
.product-fake_box
  width: 550px
  max-width: 650px
  height: 1px
.product-pagination
  justify-content: space-between
  align-items: center
  display: flex
  z-index: 2
  width: 100%
  margin: 0 auto
  position: absolute
  bottom: 35px

.product-prev_page, .product-next_page
  display: flex
  justify-content: center
  align-items: center
  z-index: 6
  background-color: $gray_1
  padding: 6px 32px
  cursor: pointer
  input:focus
    outline: none
.product-prev_page
  .product-page_arrow
    transform: rotate(180deg)
.product-page_arrow
  img
    width: 8px
.product-page_img
  margin: 0 24px
  img
    width: 50px
.news-component
  max-width: 1280px
  margin: 0 auto
.news-top_wrap
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  z-index: 2
  position: absolute
.news-date
  padding: 18px 24px
  background-color: #fff
  top: -15px
.news-view
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  right: 0
.news-view_img
  margin-right: 12px
  img
    width: 24px
.news-read
  max-width: 140px
  max-height: 24px
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  margin: auto
  padding: 24px 0px
  background-color: $gray_2
  transition: all .3s ease
  z-index: 2
  cursor: pointer
  &:hover
    background-color: $gold
    .news-read_arrow
      display: none
.news-read_arrow
  margin-left: 12px
  img
    width: 8px
.news-content
  width: 100%
  z-index: 1
  display: flex
  justify-content: space-between
  align-items: center
.news-img
  max-width: 600px
  max-height: 338px
  overflow: hidden
  img
    width: 100%
    height: 100%
    object-fit: cover
.news-info
  max-width: 600px
  padding: 0px 40px 
.news-title
  padding-left: 80px
.news-boder
  height: 1px
  width: 100%
  background-color: $gold
  margin: auto
  position: absolute
  top: 71px
  bottom: 0
.news-txt
  top: 50px
  padding: 0px 40px

// contact-component //
.contact-info_bg-mask
  width: 100%
  background-color: #000
  opacity: .6
  position: absolute
  height: 100%
  z-index: 2
.contact-info_bg-img
  width: 100%
  height: calc( 100vh - 140px)
  z-index: 1
  img
    width: 100%
    height: calc( 100vh - 140px)
    object-fit: cover
.contact-logo_wrap
  max-width: 1200px
  margin: 0 auto
  padding: 0px 40px
  margin-top: 60px
  margin-bottom: 30px
.contact-logo
  z-index: 2
  img
    width: 80px
.contact-wrap
  z-index: 2
  max-width: 1200px
  margin: 0 auto
  padding: 0px 40px
  display: flex
  justify-content: center
  align-content: center
.contact-txt
  max-width: 100%
  padding-right: 20px
  margin-bottom: 40px
.contact-info
  padding-left: 20px
.contact-info_icon
  display: flex
  justify-content: flex-start
  align-content: center
  margin: 24px 0px
.contact-info_img
  width: 36px
  height: 36px
  border-radius: 36px
  background-color: #fff
  margin-right: 12px
  img
    width: 20px
    height: 20px
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto
    position: absolute

.contact-info_icon-btn
  cursor: pointer
  transition: all .3s ease
  transform: scale(1.0, 1.0)
  &:hover
    transform: scale(1.1, 1.1)

.contact-lcation-wrap
  z-index: 2
  max-width: 1200px
  margin: 0 auto
  padding: 0px 40px
  display: flex
  justify-content: center
  align-content: center
  flex-wrap: wrap
  overflow: hidden

.contact-location_top-wrap
  width: 100%
  display: flex
  justify-content: space-between
  align-content: center
  background-color: #fff
  cursor: pointer
  z-index: 2
.contact-locate_icon_wrap
  margin: 12px 24px
  display: flex
  justify-content: center
  align-content: center
.contact-lcation_icon
  img
    width: 16px
.contact-locate_btn-wrap
  margin: 12px 24px
  width: 20px
  height: 20px
  border-radius: 20px
  background-color: #000
  display: flex
  justify-content: center
  align-items: center
.contact-locate_btn
  width: 10px
  display: flex
  justify-content: center
  align-items: center
  transition: all .3s ease
  transform: rotate(0deg)
  img
    width: 10px
.contact-locate_btn-add
  transform: rotate(180deg)

.contact-locate_iframe
  max-width: 1280px
  height: 350px
  overflow: hidden
  z-index: 1
  iframe
    width: 1280px
    height: 350px
    margin-top: 0vh
    transition: all .4s ease
    position: relative
    opacity: 1
.contact-locate_iframe-add
  max-width: 1200px
  iframe
    opacity: 0
    margin-top: -50vh


// menu-component //
.menu-left, .menu-right
  width: 50%
  height: calc(100vh - 70px)
  overflow: hidden
  display: flex
  justify-content: center
  align-items: center
  ul
    z-index: 3
.menu-mask
  width: 100%
  height: calc(100vh - 70px)
  background-color: #000
  opacity: .0
  position: absolute
  z-index: 2
  transition: all .6s ease
  transition-delay: .3s
.menu-left_bg
  width: 100%
  height: calc(100vh - 70px)
  overflow: hidden
  position: absolute
  z-index: 1
  img
    width: 50vw
    height: calc(100vh - 70px)
    position: absolute
    object-fit: cover
    opacity: 0
    transition: all .6s ease-in
.menu-left_bg-df
  img
    opacity: 0
    transition: all .6s ease
    transition-delay: .3s
.menu-left_bg-df-add
  img
    opacity: 1
.menu-mask-add
  opacity: .6
.menu-icon
  img
    width: 50px
    margin-right: 24px
    opacity: 0
    left: 24px
    transition: all .5s ease

.menu-left
  opacity: 0
  transition: all .6s ease
  li
    display: flex
    justify-content: flex-start
    align-items: center 
    cursor: pointer
    margin: 12px 0px
    padding: 12px 0px
    opacity: 0
    left: 150px
    &:hover
      p
        color: #fff
      .menu-line
        width: 100%
        left: 0px
        opacity: 1
      .menu-icon
        img
          opacity: 1
          left: 0px
.menu-left-add
  opacity: 1
.menu-line
  margin-top: 16px
  height: 3px
  width: 0%
  left: -24px
  border-radius: 10px
  opacity: 0
  background-color: #fff
  transition: all .3s ease
.menu-right
  li
    margin: 12px 0px
    padding: 12px 0px
    display: flex
    justify-content: flex-start
    align-items: center
    left: -150px
    opacity: 0
.menu-info_icon
  width: 40px
  height: 40px
  background-color: #fff
  display: flex
  justify-content: center
  align-items: center
  border-radius: 30px
  margin-right: 24px
  img
    width: 24px
    height: 24px
.menu-certificate
  cursor: pointer
  .menu-info_icon
    transition: all .3s ease
    transform: scale(1.0, 1.0)
  &:hover
    .menu-info_icon
      transform: scale(1.2, 1.2)


// certificate-component //
.certificate-mask
  width: 100%
  height: 100vh
  position: absolute
  background-color: #000
  opacity: .6
  z-index: 2
.certificate-control
  width: 90%
  position: absolute
  z-index: 3
  margin: auto
  top: 0
  bottom: 0
  left: 0
  right: 0
  display: flex
  justify-content: space-between
  align-items: center
.certificate-left, .certificate-right
  width: 50px
  height: 50px
  background-color: #fff
  border-radius: 50px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  transition: all .3s ease
  position: absolute
  top: 0
  bottom: 0
  margin: auto
  z-index: 5
  &:hover
    background-color: $gray_1
  img
    width: 20px
    height: 20px
.certificate-left
  left: 5vw
  img
    transform: rotate(180deg)
.certificate-right
  right: 5vw
.certificate-img
  z-index: 4
  display: flex
  justify-content: center
  align-items: center
.certificate-img_box
  width: 50vh
  position: absolute
  img
    width: 100%
    z-index: 1
.certificate-close
  width: 40px
  height: 40px
  border-radius: 40px
  background-color: #fff
  display: flex
  justify-content: center
  align-items: center
  z-index: 5
  right: -20px
  top: -20px
  position: absolute
  box-shadow: 0 0px 20px rgba(0,0,0,0.1)
  transform: scale(1.0, 1.0)
  transition: all .3s ease
  cursor: pointer
  &:hover
    box-shadow: 0 0px 20px rgba(0,0,0,0.3)
    transform: scale(1.1, 1.1)
  img
    width: 20px
.c2
  display: none


// product-list-component //
.product-list_bg, .article-bg
  width: 100%
  height: calc( 100vh - 140px)
  z-index: 1
  position: absolute
.product-list_bg-mask, .article-bg_mask
  width: 100%
  height: calc( 100vh - 140px)
  position: absolute
  background-color: #000000
  opacity: .6
  z-index: 2
.product-list_bg-img, .article-bg_img
  width: 100%
  height: calc( 100vh - 140px)
  z-index: 1
  img
    width: 100%
    height: calc( 100vh - 140px)
    object-fit: cover
.product-list_main
  max-width: 1200px
  margin: 0 auto
  padding: 0px 110px
  z-index: 2
  margin-top: 20vh
  background-color: #fff
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, .2)
  margin-bottom: 10vh
  .product-pagination
    position: absolute
    left: 0
    right: 0
    bottom: 0px
    .product-prev_page, .product-next_page
      top: 30px
      transition: all .5s ease
      transform: scale(1.0, 1.0)
      &:hover
        transform: scale(1.1, 1.1)
.product-list_video
  width: 40%
  margin: 0 auto
  cursor: pointer
  top: -100px
  video
    width: 100%
    postition: absolute
    z-index: -1
.product-list_back-wrap
  display: flex
  justify-content: flex-start
  align-items: center
  cursor: pointer
  margin-top: -150px
  &:hover
    .product-list_back-touch
      width: 50px
      height: 50px
.product-list_back, .article-back
  display: flex
  justify-content: center
  align-items: center
  margin-right: 12px
.product-list_back-touch, .article-back_touch
  width: 0px
  height: 0px
  border-radius: 25px
  background-color: $gray_4
  position: absolute
  transition: all .3s ease
.product-list_back-icon, .article-back_icon
  width: 50px
  height: 50px
  display: flex
  justify-content: center
  align-items: center
  img
    width: 20px
    transform: rotate(180deg)
.product-list_en-title, .article-en_title
  width: 100%
.product-list_info, .article-info
  display: flex
  justify-content: space-between
  align-items: center
.product-list_label, .article-label
  margin-top: 24px
  margin-right: 62px
  display: flex
  justify-content: flex-start
  align-items: center
.product-list_icon, .article-icon
  margin-right: 24px
  img
    width: 100px
.product-list_ch-title, .article-ch_title
.product-list_product-wrap, .article-list_wrap
  max-width: 1200px
  padding: 0px 0px
  margin-top: 10vh
  display: flex
  justify-content: center
  align-items: flex-start
  flex-wrap: wrap
  img
    width: 290px
.product-list_product-box
  width: 290px
  background-color: #fff
  margin: 0px 40px
  margin-bottom: 95px
  cursor: pointer
  &:hover
    img
      transform: scale(1.1, 1.1)
    .product-box_img
      box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, .2)
.product-box_img
  width: 290px
  height: 217px
  overflow: hidden
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, .0)
  transition: all .3s ease
  img
    width: 100%
    height: 100%
    object-fit: cover
    transform: scale(1.0, 1.0)
    transition: all .6s ease
.product-box_info-wrap
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 24px
.product-box_price
  padding: 16px 16px
  background-color: $gray_2
  margin-top: -60px
  margin-right: -30px

// article-list-component //
.article-main
  max-width: 1200px
  margin: 0 auto
  padding: 0px 110px
  z-index: 2
  margin-top: 20vh
  padding-top: 40px
  background-color: #fff
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, .2)
  margin-bottom: 10vh
.article-back_wrap
  display: flex
  justify-content: flex-start
  align-items: center
  cursor: pointer
  &:hover
    .article-back_touch
      width: 50px
      height: 50px
.article-list_box
  width: 290px
  background-color: #fff
  margin: 0px 32px
  margin-bottom: 40px
  cursor: pointer
  &:hover
    img
      transform: scale(1.1, 1.1)
    .article-box_img
      box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2)
    .article-box_img-mask
      opacity: .6
    .article-box_btn
      opacity: 1
      padding: 20px 28px
      background-color: $gold
    .article-box_btn-text
      margin-right: 16px
    .article-box_subtitle
      p
        color: #ccc
.article-box_img-wrap
  display: flex
  justify-content: center
  align-items: center
.article-box_img-mask
  width: 100%
  height: 100%
  background-color: #000
  opacity: 0
  position: absolute
  z-index: 2
  transition: all .3s ease
.article-box_img
  display: flex
  justify-content: center
  align-items: center
  width: 290px
  height: 163px
  overflow: hidden
  transition: all .3s ease
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, .0)
  img
    width: 100%
    height: 100%
    object-fit: cover
    transform: scale(1.0, 1.0)
    transition: all .6s ease
.article-box_btn
  display: flex
  justify-content: space-between
  align-items: center
  position: absolute
  z-index: 2
  padding: 0px 0px
  opacity: 0
  transition: all .6s ease
  background-color: $gray_2
.article-box_btn-icon
  img
    width: 7px
    height: auto
.article-box_btn-text
  margin-right: 0px
  transition: all .6s ease
.article-box_info-wrap
  margin-top: 8px
.article-box_subtitle
  margin-top: 4px
  p
    transition: all .3s ease


// buy-component //
.buy-med
  position: absolute
  z-index: 2
  margin: 0 auto
  left: 0
  right: 0
  display: flex
  flex-direction: column
  align-items: center
  max-width: 500px
.buy-active
  margin-top: 40px
  margin-bottom: 60px
  display: flex
  justify-content: center
  align-items: center
.buy-price
  position: absolute
  right: 150px
  p
    white-space: nowrap
.buy-path
  background-color: $gold
  display: flex
  justify-content: center
  align-items: center
  padding: 12px 16px
  cursor: pointer
  transition: all .3s ease
  &:hover
    background-color: $gray_2
    .buy-path_arrow
      img
        left: 8px
.buy-path_icon
  img
    width: 30px
.buy-path_arrow
  img
    width: 7px
    left: 0px
    transition: all .3s ease
.buy_content
  max-width: 400px
  background-color: $gray_2
  padding: 20px
  bottom: -28vh
  // margin-top: 280px
  position: absolute
  transition: all .3s ease
  cursor: pointer
  &:hover
    background-color: $gold
.buy-main
  width: 50%
  background-color: #fff
  padding: 40px 0px
  max-height: calc(100vh - 300px)
  overflow: hidden
.buy-header
  width: 100%
  padding: 0 40px
  margin-bottom: 40px
.buy-cat_wrap
  display: flex
  justify-content: flex-start
  align-items: center
  cursor: pointer
  &:hover
    .goback-touch
      width: 40px
      height: 40px
.buy-goback
  margin: 6px 12px 6px 0px
  border-radius: 20px
  display: flex
  justify-content: center
  align-items: center
  img
    width: 16px
    transform: rotate(180deg)
.goback-touch
  background-color: $gray_4
  width: 0px
  height: 0px
  transition: all .3s ease
  border-radius: 20px
  position: absolute
.buy-cat_icon
  margin: 0 16px
  margin-left: 8px
  img
    width: 50px
.buy-sub_content
  width: 50%
.buy-name
  margin-top: 12px
.buy-product_wrap
  padding: 0 40px
  display: flex
  justify-content: center
  align-items: flex-end
.buy-product_img
  max-width: 500px
  right: 40px
  img
    width: 100%
.buy-product_ml
  position: absolute
  z-index: 2
  bottom: 40px
  left: 40px
  display: flex
  flex-direction: column
  align-items: center
.buy-product_ml-img
  img
    width: 50px
.buy-product_ml-val
  margin-top: 12px
.buy-pagination
  width: calc( 100vw - 140px)
  height: calc( 100vh - 140px)
  margin: 0 auto
.buy-ingredient
  display: flex
  flex-direction: column
  align-items: flex-end
  margin-bottom: 60px
.buy-ingredient_content
  background-color: #fff
  padding: 20px
  margin: 12px 0
  max-width: 240px
.buy-recommend
  display: flex
  flex-direction: column
  align-items: flex-end
.buy-recommend_content-wrap
  margin: 12px 0
  padding: 8px 20px
  background-color: #fff
  max-width: 240px
.buy-recommend_item
  display: flex
  justify-content: flex-start
  align-items: flex-start
  background-color: #fff
  margin: 12px 0px
  cursor: pointer
  &:hover
    p
      color: $gray_3
.buy-recommend_img
  width: 140px
  max-width: 140px
  margin-right: 12px
  overflow: hidden
  img
    width: 100%
    height: 100%
    object-fit: cover
.buy-recommend_content
  p
    transition: all .3s ease
.buy-pagination
  width: calc(100% - 140px)
  height: 70px
  margin: 0 auto
  display: flex
  justify-content: space-between
  align-items: flex-start
  z-index: 3
.buy-pagination_prev, .buy-pagination_next
  background-color: $gray_2
  padding: 8px 16px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  transition: all .3s ease
  margin-top: -24px
  &:hover
    background-color: $gold
    padding: 8px 20px
.buy-pagination_prev
  img
    transform: rotate(180deg)
.buy-pagination_icon
  width: 30px
  height: 30px
  border-radius: 15px
  background-color: #fff
  display: flex
  justify-content: center
  align-items: center
  margin: 0px 12px
  img
    width: 8px
// rwd-setting //
@mixin media($width)
  @media only screen and (max-width: $width)
    @content
@include media($pc-media-l)
  .col-wrap

@include media($pc-media)
  .col-wrap

@include media($note-media)
  .col-wrap

@include media($mobile-media)
  .col-wrap

@include media($mobile-media-s)
  .col-wrap