// layout-setting //

// glabol-layout //
.container
  width: 100%
  margin: 0 auto
  overflow: hidden
  z-index: 2

.fullPage-wrap
  width: 100%
.section
  width: 100%
  height: 100vh
.section-wrap
  width: calc( 100% - 140px)
  height: calc( 100vh - 70px)
  margin: 0 auto
  top: 70px
  overflow: hidden


// section-layout //
.intro
  .section-wrap 
.news
  .section-wrap
.product
  .section-wrap


// nav-layout //
.nav-top
  width: 100%
  position: fixed
  height: 70px
  background-color: #fff
  z-index: 10
  overflow: hidden
.nav-top_wrap
  padding: 0 70px
  height: 70px
  margin: 0 auto
  display: flex
  justify-content: space-between
  align-items: center
.pagination
  width: 70px
  height: 100vh
  background-color: #fff
  z-index: 8
  position: fixed
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.nextPage
  width: 100%
  height: 70px
  bottom: 0px
  position: fixed
  z-index: 1
  display: flex
  justify-content: center
  align-items: center
.swiper-container

.product-wrap
  width: calc( 100vw - 140px)
  height: calc( 100vh - 140px)
.product-cat
  width: calc( 100vw - 140px)
  height: calc( 100vh - 140px)
.news-wrap
  width: 100%
  margin: 2% 0
.contact-info_bg
  position: absolute
  width: calc( 100vw - 140px)
  height: calc( 100vh - 140px)
  z-index: 1
// menu-layout //
.menu
  display: block
  position: fixed
  overflow: hidden
  z-index: 13
  width: 0%
  height: calc(100vh - 70px)
  top: 70px
  transition: all .8s ease
  margin: auto
  left: 0
  right: 0
  background-color: $gray_1
.menu-add
  width: 100%
.menu-wrap
  width: 100%
  background-color: $gray_1
  display: flex
  justify-content: space-between
  align-items: center

// certificate-layout //
.certificate-wrap
  width: 100%
  height: 100vh
  position: fixed
  z-index: 14
  display: flex
  justify-content: center
  align-items: center
  opacity: 0
.certificate-wrap-add
  opacity: 1


  // product-list-layout //
.product-list
  position: fixed
  width: 100%
  height: calc(100vh - 70px)
  top: 70px
  overflow-y: scroll
  z-index: 9
  background-color: #fff
  opacity: 1
.product-list-add
  opacity: 1
.product-list_wrap
  width: calc( 100vw - 140px)
  margin: 0 auto
  overflow: hidden

// buy-layout //
.buy
  width: 100%
  height: calc(100vh - 70px)
  top: 70px
  z-index: 10
  position: absolute
  background-color: #fff
  overflow: hidden
  opacity: 0
.buy-add
  opacity: 1
.buy-bg
  width: calc( 100vw - 140px)
  height: calc( 100vh - 140px)
  margin: 0 auto
  background-color: $gray_1
.buy-wrap
  max-width: 1200px
  height: calc(100vh - 140px)
  padding: 0 40px
  margin: 0 auto
  overflow: hidden
  display: flex
  justify-content: center
  align-items: center

// article-layout //
.article
  display: block
  z-index: 11
  position: fixed
  width: 100%
  height: calc(100vh - 70px)
  top: 70px
  overflow-y: scroll
  background-color: #fff
  opacity: 1
.article-add
  opacity: 1
.article-wrap
  width: calc( 100vw - 140px)
  margin: 0 auto
  overflow: hidden

// writings-layout //
.writings
  display: block
  z-index: 12
  position: fixed
  width: 100%
  height: calc(100vh - 70px)
  top: 70px
  overflow-y: scroll
  background-color: #fff
  opacity: 1
  img
    width: 50px
.writings-add
  opacity: 1
.writings-wrap
  width: calc( 100vw - 140px)
  margin: 0 auto
  overflow: hidden
  margin-bottom: 10vh

// rwd-setting //
@mixin media($width)
  @media only screen and (max-width: $width)
    @content
@include media($pc-media-l)
  .col-wrap

@include media($pc-media)
  .col-wrap

@include media($note-media)
  .col-wrap

@include media($mobile-media)
  .col-wrap

@include media($mobile-media-s)
  .col-wrap