@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.pagination-num
    span, p
        color: $gray_1
        transition: all .3s ease
.pagination-current
    .pagination-num
        span, p
            color: #fff

h1
    font-size: 46px
    letter-spacing: 6px
    color: #fff
    font-weight: normal
    margin: 4px 0px
.content-txt-ch
    margin: 4px 0px
    p
        font-size: $s5
        color: #fff
        line-height: $s4
.content-txt-en
    p
        font-size: $s6
        color: #fff
.product-txt
    p
        color: $gray_2
.product-btn_txt
    p
        color: $gray_3
.product-page_txt
    p
        color: $gold
        font-weight: bold
        letter-spacing: 3px
.news-read_txt
  p
    color: #fff
    font-weight: bold
    letter-spacing: 2px
.news-view_val
  span
    color: #a0a0a0
.news-title
  p
    color: $gray_2
    font-size: $s3

.news-date
  p
    font-size: 32px
    color: #a0a0a0
    font-weight: bold
    letter-spacing: 5px
.contact-info_title
    p
        color: #fff
        font-size: $s5
        font-weight: bold
.contact-txt
    p
        font-size: $s6
        color: #fff
        line-height: $s4
.contact-info_txt
    margin-top: 4px
    p
        font-size: $s6
        color: #fff
.contact-location_title
    margin-left: 12px
    p
        font-size: $s5
        font-weight: bold
        color: $gray_1
.menu-list
    p
        color: $gold
        font-size: $s4
        letter-spacing: 5px
        font-weight: bold
        transition: all .3s ease
.menu-info_title
    margin-bottom: 8px
    p
        color: #fff
        font-size: $s6
        font-weight: bold
.menu-info_content
    p
        color: #fff
        font-size: $s6
        font-weight: normal
.product-list_en-title, .article-en_title
    p
        font-size: $s1
        color: $gold
        font-weight: bold
        letter-spacing: 10px
.product-list_ch-title, .article-ch_title
    p
        font-size: $s4
        color: $gray_3
        font-weight: bold
        white-space: nowrap
.product-list_txt, .article-txt
    p
        font-size: $s5
        line-height: $s4
        color: $gray_2
.product-box_name
    max-width: 240px
    p
        font-size: $s5
        color: $gray_2
        font-weight: bold
.product-box_price
    p
        color: $gold
        font-size: $s5
.buy-type
    text-align: center
    p
        color: $gold
        font-size: $s2
        font-weight: bold
        letter-spacing: 15px
.buy-path_text
    margin: 0 12px
    p
        color: #fff
        font-size: $s5
        font-weight: bold
        letter-spacing: 3px
.buy-price
  p
    color: $gray_2
    font-size: $s4
    font-weight: bold
    letter-spacing: 3px
.buy_content
    p
        color: #fff
        font-size: $s6
        line-height: $s4
.buy-cat
    p
        color: $gold
        font-size: $s3
        letter-spacing: 3px
        font-weight: bold
.buy-name
    p
        color: $gray_3
        font-size: $s4
        font-weight: bold
.buy-product_ml-val
    p
        color: $gray_3
        font-size: $s5
        font-weight: bold
        letter-spacing: 3px
.buy-ingredient_title, .buy-recommend_title
    text-align: right
    p
        color: #fff
        font-size: $s5
        letter-spacing: 3px
.buy-ingredient_content
    p
        color: $gray_2
        font-size: $s6
.buy-recommend_content
    p
        color: $gray_2
        font-size: $s6
.buy-pagination_name
    p
        color: #fff
        font-size: $s6
.article-box_btn-text
    p
        color: #fff
        font-size: $s5
        font-weight: bold
.article-box_title
    p
        color: $gray_1
        font-weight: bold
        font-size: 18px
.article-box_subtitle
    p
        color: $gray_3
        font-size: $s6
        line-height: 18px