<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(name="author", content="MRED")
        meta(name="copyright", content="MRED 美芮")
        meta(property="og:description", content="")
        meta(property="og:title", content="MRED 美芮")
        meta(property="og:url", content="")
        meta(property="og:type", content="website")
        meta(property="og:site_name", content="MRED")
        meta(property="og:locale", content="zh_TW")
        meta(property="og:image", content="images/ogImg.jpg")
        meta(property="og:image:width", content="1200")
        meta(property="og:image:height", content="630")
        meta(property="fb:admins", content="176643126410266")
        link(rel="stylesheet" href="css/main.css")

        link(rel="shortcut icon", type="image/png" href="images/favicon.png")
        title MRED 美芮
    body
        nav.nav-top
            .nav-top_wrap
                .nav-logo
                    img(src="images/svg/logo_gray.svg", alt="")
                .nav-menu
                    .nav-menu_btn
                        .menu-btnLine_left
                        .menu-btnLine_right
                    .menu-btn_touch
                .nav-social_link
                    .nav-ig
                        a(href="", target="_blank")
                            img(src="images/svg/ig_gray.svg", alt="")
                    .nav-fb
                        a(href="", target="_blank")
                            img(src="images/svg/fb_gray.svg", alt="")
        .pagination
            .nav-page_gotop.gotop-default
                .gotop-btn
                    img(src="images/svg/arrow_white.svg", alt="")
                .gotop-font
                    span top
            .nav-pagination_wrap
                .pagination-prev
                    .pagination-num
                        span 1
                    .pagination-num_touch
                .pagination-num_border
                .pagination-current
                    .pagination-num_btn
                        .pagination-num
                            span 2
                    .pagination-txt
                        .pagination-txt_ani
                            span product
                .pagination-num_border
                .pagination-next
                    .pagination-num
                        span 3
                    .pagination-num_touch
        .nextPage
            .nextPage-btn
                img(src="images/svg/arrow_black.svg", alt="")
        main.container
            .fullPage-wrap#fullpage
                section.intro.section
                    .section-wrap
                        .intro-content
                            .intro-content-wrap
                                .intro-title
                                    h1 MRED Reversed Skin Age
                                .intro-border
                                .intro-txt.content-txt-ch
                                    p 讓使用者更了解自我的需求，集合各界保養品研發菁英提供正確先進的保養理念，拔除消費者被深植的錯誤的行銷型論點，並找到或開發出一套適合自己的保健保養方式。
                                .intro-btn
                                    .intro-btn_txt.content-txt-en
                                        p product
                                    .intro-btn_touch
                        .intro-bg
                            .intro-slick_mask
                            .swiper-container
                                .intro-slick.swiper-wrapper
                                    .intro-slick_img.swiper-slide
                                        img(src="images/bg_1.jpg", alt="")
                                    .intro-slick_img.swiper-slide
                                        img(src="images/bg_2.jpg", alt="")
                                    .intro-slick_img.swiper-slide
                                        img(src="images/bg_3.jpg", alt="")
                                    .intro-slick_img.swiper-slide
                                        img(src="images/bg_4.jpg", alt="")
                                    .intro-slick_img.swiper-slide
                                        img(src="images/bg_5.jpg", alt="")
                                    .intro-slick_img.swiper-slide
                                        img(src="images/bg_6.jpg", alt="")
                section.product.section
                    .section-wrap
                        .swiper-container_product
                            .product-wrap.swiper-wrapper
                                .product-cat.product-cleaner.swiper-slide
                                    .product-bg
                                        .product-bg_mask
                                        .product-bg_img
                                            img(src="images/bg_1.jpg", alt="")
                                    .product-title
                                        span C
                                        span L
                                        span E
                                        span A
                                        span N
                                        span E
                                        span R
                                    .product-content_wrap
                                        .product-content_mixvideo
                                            .product-content-box
                                                .product-img
                                                    img(src="images/cleanerImg.png", alt="")
                                                .product-content
                                                    .product-ch_wrap
                                                        .product-icon
                                                            img(src="images/svg/clean_gray.svg", alt="")
                                                        .product-ch_title
                                                            h2 洗潔系列
                                                    .product-txt.content-txt-ch
                                                        p 苦橙花蜂蜜水  有機特級初榨橄欖油  硬脂酸  有機冷壓月見草油  有機牛油果油  甘油 特級初榨椰子油 新鮮檸檬汁 有機冷壓小麥胚芽油  新鮮橙汁 有機冷壓萄籽油...
                                                    .product-btn
                                                        .product-btn_txt.content-txt-ch
                                                            p MORE
                                                        .product-btn_img
                                                            img(src="images/svg/arrow_gray.svg", alt="")
                                            .product-video
                                                .video-mask
                                                    .video-mask_bg
                                                    .video-btn
                                                        img(src="images/svg/triangle_white.svg", alt="")
                                                video(src="images/video/cleaner.mp4")

                                .product-cat.product-cleaner.swiper-slide
                                    .product-bg
                                        .product-bg_mask
                                        .product-bg_img
                                            img(src="images/bg_7.jpg", alt="")
                                    .product-title
                                        span F
                                        span A
                                        span C
                                        span E
                                        span C
                                        span A
                                        span R
                                        span E
                                    .product-content_wrap
                                        .product-content_mixvideo
                                            .product-content-box
                                                .product-img
                                                    img(src="images/facecareImg.png", alt="")
                                                .product-content
                                                    .product-ch_wrap
                                                        .product-icon
                                                            img(src="images/svg/care_gray.svg", alt="")
                                                        .product-ch_title
                                                            h2 臉部保護
                                                    .product-txt.content-txt-ch
                                                        p 苦橙花蜂蜜水  有機特級初榨橄欖油  硬脂酸  有機冷壓月見草油  有機牛油果油  甘油 特級初榨椰子油 新鮮檸檬汁 有機冷壓小麥胚芽油  新鮮橙汁 有機冷壓萄籽油...
                                                    .product-btn
                                                        .product-btn_txt.content-txt-ch
                                                            p MORE
                                                        .product-btn_img
                                                            img(src="images/svg/arrow_gray.svg", alt="")
                                            .product-video
                                                .video-mask
                                                    .video-mask_bg
                                                    .video-btn
                                                        img(src="images/svg/triangle_white.svg", alt="")
                                                video(src="images/video/cleaner.mp4")
                                
                                .product-cat.product-cleaner.swiper-slide
                                    .product-bg
                                        .product-bg_mask
                                        .product-bg_img
                                            img(src="images/bg_8.jpg", alt="")
                                    .product-title
                                        span F
                                        span A
                                        span C
                                        span E
                                        span M
                                        span A
                                        span S
                                        span K
                                    .product-content_wrap
                                        .product-content_mixvideo
                                            .product-content-box
                                                .product-img
                                                    img(src="images/facemaskImg.png", alt="")
                                                .product-content
                                                    .product-ch_wrap
                                                        .product-icon
                                                            img(src="images/svg/mask_gray.svg", alt="")
                                                        .product-ch_title
                                                            h2 面膜系列
                                                    .product-txt.content-txt-ch
                                                        p 苦橙花蜂蜜水  有機特級初榨橄欖油  硬脂酸  有機冷壓月見草油  有機牛油果油  甘油 特級初榨椰子油 新鮮檸檬汁 有機冷壓小麥胚芽油  新鮮橙汁 有機冷壓萄籽油...
                                                    .product-btn
                                                        .product-btn_txt.content-txt-ch
                                                            p MORE
                                                        .product-btn_img
                                                            img(src="images/svg/arrow_gray.svg", alt="")
                                            .product-video
                                                .video-mask
                                                    .video-mask_bg
                                                    .video-btn
                                                        img(src="images/svg/triangle_white.svg", alt="")
                                                video(src="images/video/cleaner.mp4")

                        .product-pagination
                            .product-prev_page
                                .product-page_arrow
                                    img(src="images/svg/arrow_gold.svg", alt="")
                                .product-page_img
                                    img(src="images/svg/care_color.svg", alt="")
                                .product-page_txt
                                    p FACE CARE
                            .product-next_page
                                .product-page_txt
                                    p FACE MASK
                                .product-page_img
                                    img(src="images/svg/mask_color.svg", alt="")
                                .product-page_arrow
                                    img(src="images/svg/arrow_gold.svg", alt="")

                section.news.section
                    .section-wrap
                        .news-wrap
                            .news-component
                                .news-top_wrap
                                    .news-date
                                        p 2018-08-16 Thu
                                    .news-view
                                        .news-view_img
                                            img(src="images/svg/view.svg", alt="")
                                        .news-view_val
                                            span 11
                                .news-read
                                    .news-read_txt
                                        p read
                                    .news-read_arrow
                                        img(src="images/svg/triangle_gold.svg", alt="")
                                .news-boder
                                .news-content
                                    .news-img
                                        img(src="images/bg_10.jpg", alt="")
                                    .news-info
                                        .news-title
                                            p 高麗阿嫲泡菜面膜 養質好肌底
                                        .news-txt
                                            p 泡菜可說是韓國的代表性食物，許多人也認為韓國女生的好膚質，是因為他們愛吃泡菜的緣故！然而，泡菜能有這些豐富的營養，發酵所產生的好菌是關鍵！看看這些泡菜好菌，如何幫助肌膚養出好肌底！
                        .news-wrap
                            .news-component
                                .news-top_wrap
                                    .news-date
                                        p 2018-08-16 Thu
                                    .news-view
                                        .news-view_img
                                            img(src="images/svg/view.svg", alt="")
                                        .news-view_val
                                            span 11
                                .news-read
                                    .news-read_txt
                                        p read
                                    .news-read_arrow
                                        img(src="images/svg/triangle_gold.svg", alt="")
                                .news-content
                                    .news-img
                                        img(src="images/bg_9.jpg", alt="")
                                    .news-info
                                        .news-title
                                            p 高麗阿嫲泡菜面膜 養出健康膚質好肌底
                                        .news-boder
                                        .news-txt
                                            p 泡菜可說是韓國的代表性食物，許多人也認為韓國女生的好膚質，是因為他們愛吃泡菜的緣故！然而，泡菜能有這些豐富的營養，發酵所產生的好菌是關鍵！看看這些泡菜好菌，如何幫助肌膚養出好肌底！
                section.contact.section
                    .section-wrap
                        .contact-info_bg
                            .contact-info_bg-mask
                            .contact-info_bg-img
                                img(src="images/bg_2.jpg", alt="")
                        .contact-logo_wrap
                            .contact-logo
                                img(src="images/svg/logo_white.svg", alt="")
                        .contact-wrap
                            .contact-txt
                                p MRED美芮-無添加保養品，是具有20多年經驗與藥師執照的專業團隊所研發，以多項專利技術與國際認證，選用高標準檢驗的成份，同時添加嚴選修護成份，幫助肌膚啟動煥膚機制，使每一滴成份都能有效地被肌膚吸收，達到保養、修復與防禦一次完成。
                                p <br/>捨去奪目華麗的外衣，換上簡單自然的包裝，貫徹品牌理念 - 堅持關注什麼是對肌膚最好的，只給肌膚需要的，每個人都能讓肌膚自然達到完美膚質的理念。不論你是20代、30代或是40代，都能擁有和身體肌膚的對話，享受心靈的寧靜時光，保持著你自己獨特的生活步調，體驗慢活哲學。
                                p <br/>秉持用心與熱情研發製作每一個保養品，守護和呵護你的肌膚。全產品不使用過敏原料，也不做動物實驗，採用環保包材，我們希望除了愛自己，也更能愛我們的地球。即便我們沒有迷人的香氣、嘩眾取寵的行銷包裝，但我們關心的不單單是現在的你，甚至是十年、二十年後的你！
                            .contact-info
                                .contact-info_icon
                                    .contact-info_img
                                        img(src="images/svg/mail.svg", alt="")
                                    .contact-info_txt-wrap
                                        .contact-info_title
                                            p Mail
                                        .contact-info_txt
                                            p mred@mredlab.com
                                .contact-info_icon
                                    .contact-info_img
                                        img(src="images/svg/phone.svg", alt="")
                                    .contact-info_txt-wrap
                                        .contact-info_title
                                            p Phone Number
                                        .contact-info_txt
                                            p 03-420-2266
                                .contact-info_icon.contact-info_icon-btn
                                    .contact-info_img
                                        img(src="images/svg/Certificate.svg", alt="")
                                    .contact-info_txt-wrap
                                        .contact-info_title
                                            p Certificate
                                        .contact-info_txt
                                            p + more
                        .contact-lcation-wrap
                            .contact-location_top-wrap
                                .contact-locate_icon_wrap
                                    .contact-lcation_icon
                                        img(src="images/svg/locate.svg", alt="")
                                    .contact-location_title
                                        p Location
                                .contact-locate_btn-wrap
                                    .contact-locate_btn
                                        img(src="images/svg/arrow_white.svg", alt="")
                            .contact-locate_iframe
                                img(src="images/locate.jpg", alt="")



        script(src="js/jquery-3.2.1.min.js")
        script(src="js/jquery.fullPage.min.js")
        script(src="js/swiper.min.js")
        script(src="js/TweenMax.min.js")
        script(src="js/main.js")
